body{
	background: #f5d9d5;
	font-family: 'Nunito', sans-serif;
}
#mainNavbar .navbar-brand{
	color: #ea1c2c;
	font-size: 1.5rem;
	font-weight: 100;
}
#mainNavbar .nav-link{
	color: white;
}
#mainNavbar .nav-link:hover{
	color: #ea1c2c;
}
#mainNavbar{
	font-size: 1.5rem;
	font-weight: 100;
}
#headingGroup span{
	color: #ea1c2c;
}
#headingGroup h1{
	font-weight: 100;
	font-size: 4rem;
}
@media (max-width: 1200px){
	#headingGroup h1{
	font-weight: 100;
	font-size: 3rem;
	}
}
.navbar.scrolled{
	background: rgb(222,192,222,0.8);
	transition: background 500ms;
}
.glurg h2{
	color: #ea1c2c;
	font-weight: 100;
	font-size: 2.5rem;
}
.glurg p{
	color: #f498b8;
	font-weight: 100;
	line-height: 2;
}
.content{
	margin-bottom: 100px;
}
footer{
	background-color: #98dff4;
	padding-bottom: 8rem;
	padding-top:1.5rem;
}
 #links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
} 
#links li a{
	color:white;
	font-size: 2rem;
	font-weight: bold;
}
#links li a:hover{
	text-decoration: none;
}
.footer-section{
	margin-top: 13rem;
	padding-left: 15px;
	margin-left: 2.5rem;
} 
.footer-section div p{
	color: white;
	font-size: 2rem;
	font-weight: bold;
}
.social-media ul{
	display:flex;
	flex-direction: row;
	list-style:none;
	padding-left: 1.5rem;
}
.social-media ul li a i{
	display:flex;
	margin-right: 25px;
	margin-top: 15px;
}
.social-media .media-list li a{
	color: white;
	text-decoration: none;
}
.social-media .media-list li a:hover{
	text-decoration: none;
}
.footer-section #footer-list{
	list-style: none;
}
div #footer-list li a{
	color:white;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}
div #footer-list li a:hover{
	text-decoration: none;
}
@media (max-width:900px){
	#links{
		display: block;
		list-style:none;
	}
	#links li{
		margin-bottom: 10px;
	}
	.footer-section{
		margin-top: 5rem;
	}
	#footer-list{
		padding-left: 5px;
	}
}
/* #footer{
	background-color: #98dff4;
}
.footer-row ul{
	color: white;
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
} */
/* #aboutus{
	/* background: rgb(222,192,222); 
}*/